

<ion-view view-title="Информация об авторe">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Информация об авторах
        </div>
      
      <div class="item-body">
        <h2>Андрей Романенко</h2>
      </div>
      
      
      <div class="about-with-foto">
        <img class="full-image" src="www/img/me.jpg">
      </div>  
   
      <div class="about-text">
          <p><b>Специализация:</b></p>
          <p>- проектировщих оборудования</p>
          <p>- начинающий Web-разработчик</p>
        
          <p><b>Образование:</b> высшее (Восточноукраиский государственный университет имени В.Даля)
          </p>

          <p>
           <b>Сфера трудовой деятельности:</b> проектирование лабораторного, аналитического и пробоподготовительного оборудования.
          </p>
          <p>
            <b>Уровень Web-разработки:</b> средний
          </p>
      </div>
          
        
         <div class="item">   
              <h2>Навыки:</h2>
              <ul class="list">
                <li class="item">Pascal (Delphy7, Embarcadero)</li>
                <li class="item">Assempler (for PIC-controllers)</li>
                <li class="item">HTML5, CSS3, Javascript</li>
                <li class="item">jQuery</li>
                <li class="item">AngularJS</li>
                <li class="item">IonicJS</li>
                <li class="item">NodeJS, ExpressJS</li>
                <li class="item">MongoDB</li>
                <li class="item">MeteorJS</li>
              </ul>
            
        </div>
       
    </div> 
    
     <div class="card">
        <div class="item item-divider">
            <a class="button icon icon-right ion-chevron-right" href="#/ru/navstack">Мои достижения в CodeFight</a>
          </p>
        </div>
         
       
    </div>   
      
  </ion-content>
</ion-view>
