

<ion-view view-title="Information">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            About me
        </div>
      
          
      <div class="item item-body">
        <h2>Andrii Romanenko</h2>
      </div>
      
      <div class="about-with-foto">
        <img class="full-image" src="www/img/me.jpg">
      </div>  
      
      <div class="about-text">
        <p><b>Specialization:</b></p>
        <p>- equipment designer</p>
        <p>- junior web developer</p>
    
        <p>
          <b>Educational background:</b> master's degree(East-Ukrainian State University of Volodymyr Dahl) & Ph.D
        </p>
        
        <p>
          <b>Scope of work:</b> 
          design of laboratory, analytical and sample probe equipment.
        </p>   
        <p>
          <b>Web-level skills:</b> Intermediate
        </p>
      </div>
          
        
         <div class="item">   
              <h2>Skills:</h2>
              <ul class="list">
                <li class="item">Pascal (Delphy7, Embarcadero)</li>
                <li class="item">Assempler (for PIC-controllers)</li>
                <li class="item">HTML5, CSS3, Javascript</li>
                <li class="item">jQuery</li>
                <li class="item">AngularJS</li>
                <li class="item">IonicJS</li>
                <li class="item">NodeJS, ExpressJS</li>
                <li class="item">MongoDB</li>
                <li class="item">MeteorJS</li>
              </ul>
            
        </div>
       
    </div> 
    
     <div class="card">
        <div class="item item-divider">
            <a class="button icon icon-right ion-chevron-right" href="#/en/navstack">My progress in CodeFight</a>
          </p>
        </div>
         
       
    </div>   
      
  </ion-content>
</ion-view>
