<ion-view view-title="Contact information">
  <ion-content>

    <div class="card">
        <div class="item item-divider">
            Contact information
        </div>
        <div class="item">
            <p>
               Dnepr, Ukraine
            </p>
            <p><i class="icon ion-android-call"></i>
                MTS: +38 050 476 06 93
            </p>
            <p><i class="icon ion-android-call"></i>
                Life: +38 063 476 06 93
            </p>
            <p><i class="icon ion-email"></i>
                <a href="roand@ukr.net">: roand@ukr.net</a>
            </p>
       </div>
     
        <div class="list button-bar">
            <button class="button icon-left ion-ios-telephone button-positive">MTS: +38-050-476-06-93</button>
            <button class="button icon-left ion-social-skype button-calm">andrey__romanenko</button>
            <button class="button icon-left ion-email button-balanced">Email: roand@ukr.net</button>
        </div>
 
    </div>

  </ion-content>
</ion-view>