

<ion-view view-title="My works">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            ToDoList for RUBY GARAGE
            <span class="badge badge-energized">New</span>
        </div>
      
        <a class="item item-thumbnail-left item-text-wrap" href="#/en/todolists">
            <img ng-src="www/img/todoexample.jpg" alt="todolistfoto">
            <h2>SIMPLE TODO LISTS</h2>
        </a>
      
        <div class="item item-body">
          <h3>Multi-user web application for mobile devices
          </h3>
          <h2>Functionality:</h2>
          <ul class="list">
            <li class="normal-white-space">Create/update/delete project</li>
            <li class="normal-white-space">Add/update/delete tasks to projects</li>
            <li class="normal-white-space">Able to prioritize task into a project</li>
            <li class="normal-white-space">Choose deadline for tasks</li>
            <li class="normal-white-space">Able to mark a task as "ready"</li>
          </ul>
          <h2>Additional functionality:</h2>
          <ul class="list">
            <li class="normal-white-space">Multiusers and two-languages support</li>
            <li class="normal-white-space">User should only have access to their own projects and tasks</li>
            <li class="normal-white-space">Singlepage application with AJAX-technology</li>
            <li class="normal-white-space">MongoDB used</li>
          </ul>
        </div>
    </div>
      
     <div class="card">
          <div class="item item-divider normal-white-space">
            Frontend Developer Course diplom work
            <span class="badge badge-assertive">IT Step</span>
          </div>
          <a class="item item-thumbnail-left item-text-wrap" ng-href="http://www.m50476xr.bget.ru">
            
            <img ng-src="www/img/frontend.jpg" alt="frontend">
            <h2>My course LandingPage. Does with HTML5, CSS3, JS (without any framework (except for the slider))
            </h2>
            
          </a>
      </div>
      
      <div class="card">
          <div class="item item-divider">
            Game "Minesweeper" on nativeJS
             <span class="badge badge-calm">Game</span>
          </div>
          <a class="item item-thumbnail-left item-text-wrap" ng-href = "http://www.m50476xr.bget.ru/html/miner/index.html">
            
            <img ng-src="www/img/miner.jpg" alt="miner">
            <h2>It is a my example of a wellknown game. Used only HTML5, CSS3, JS (work only with a mouse).
            </h2>
            
          </a>
      </div>  
    
      <div class="card">
          <div class="item item-divider">
            Game "Tetris" on nativeJS
            <span class="badge badge-calm">Game</span>
          </div>
          <a class="item item-thumbnail-left item-text-wrap" ng-href = "http://www.m50476xr.bget.ru/html/tetris/index.html">
            
            <img ng-src="www/img/tetris.jpg" alt="tetris">
            <h2>It is a my example of a wellknown game. Used only HTML5, CSS3, JS (work only with a keyboard).
            </h2>
            
          </a>
      </div>
  </ion-content>
</ion-view>