

<ion-view view-title="Мои работы">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            ToDoList для RUBY GARAGE
            <span class="badge badge-energized">New</span>
        </div>
      
        <a class="item item-thumbnail-left item-text-wrap" href="#/ru/todolists">
            <img ng-src="www/img/todoexample.jpg" alt="todolistfoto">
            <h2>Список текущих дел и задач (ToDoList)</h2>
        </a>
      
        <div class="item item-body">
          <h3>Многопользовательское web-приложение для мобильных устройств 
          </h3>
          <h2>Функциональные возможности:</h2>
          <ul class="list">
            <li class="normal-white-space">Создание, изменение, удаление проектов</li>
            <li class="normal-white-space">Добавление, изменение и удаление задач</li>
            <li class="normal-white-space">Установка приоритете задач</li>
            <li class="normal-white-space">Установка сроков выполнения задач</li>
            <li class="normal-white-space">Возможность отмечать выполненные дела</li>
          </ul>
          <h2>Дополнительные возможности:</h2>
          <ul class="list">
            <li class="normal-white-space">Поддержка многих пользователей</li>
            <li class="normal-white-space">Пользователь имеет доступ только к своим задачам</li>
            <li class="normal-white-space">Одностраничное приложение на AJAX-технологии</li>
            <li class="normal-white-space">Используется база данных MongoDB</li>
          </ul>
        </div>
    </div>
      
     <div class="card">
          <div class="item item-divider normal-white-space">
            Дипломная работа по курсу Frontend Developer 
            <span class="badge badge-assertive">IT Step</span>
          </div>
          <a class="item item-thumbnail-left item-text-wrap" ng-href="http://www.m50476xr.bget.ru">
            
            <img ng-src="www/img/frontend.jpg" alt="frontend">
            <h2>Мой дипломный LandingPage. Сделан на HTML5, CSS3, JS (без использования сторонних библиотек (кроме слайдера))
            </h2>
            
          </a>
      </div>
      
      <div class="card">
          <div class="item item-divider">
            Игра "Минер" на чистом JS
             <span class="badge badge-calm">Game</span>
          </div>
          <a class="item item-thumbnail-left item-text-wrap" ng-href = "http://www.m50476xr.bget.ru/html/miner/index.html">
            
            <img ng-src="www/img/miner.jpg" alt="miner">
            <h2>Классическая игра Сапер. Сделана на HTML5, CSS3, JS (без использования сторонних библиотек. Работает только с мышкой.
            </h2>
            
          </a>
      </div>  
    
      <div class="card">
          <div class="item item-divider">
            Игра "Тетрис" на чистом JS
            <span class="badge badge-calm">Game</span>
          </div>
          <a class="item item-thumbnail-left item-text-wrap" ng-href = "http://www.m50476xr.bget.ru/html/tetris/index.html">
            
            <img ng-src="www/img/tetris.jpg" alt="tetris">
            <h2>Классическая игра Тетрис. Сделана на HTML5, CSS3, JS (без использования сторонних библиотек. Работает только с клавиатурой.
            </h2>
            
          </a>
      </div>
  </ion-content>
</ion-view>